@import '../global-styles/variables'

#footer
    margin-top: 5em
    padding: 40px 8.5em
    background-color: $cortexttitulos
    display: flex
    justify-content: space-between

    .principal
        color: #fff
        padding: 1em
        display: flex
        flex-direction: column
        width: 25%
        gap: 15px
        font-size: 10px

        .img
            height: 80px
            
            img
                border-radius: 50%
                height: 100%

        .icones
            display: flex
            justify-content: center
            gap: 15px
            height: 30px
            
            img
                border-radius: 50%
                background-color: #fff
                padding: 3px
                height: 100%
    
    // estilo global dos cards
    .global-card
        h4
            font-size: 12px
            color: #DDA853
            padding: 2em 0
            font-weight: 400
        ul
            list-style: none
            display: flex
            flex-direction: column
            gap: 10px

            li
                font-weight: 300
                font-size: 12px
                color: #fff
            
            a
                font-weight: 300
                text-decoration: none
                color: #fff
                font-size: 12px  
            a:hover
                color: #DDA853
                text-decoration: underline
                text-decoration-thickness: 2px
                text-underline-offset: 3px
    .footer-exeto
            margin:  3em 0

    // para intermediarios
    @media (max-width: 1024px)
        #footer 
        padding: 20px 4em
        flex-direction: column
        align-items: center

        .principal
            .img
                display: flex
                justify-content: center
                align-items: center
                height: 60px
                img 
                    height: 100%

        .principal,
        .global-card 
            width: 80%

        .global-card
            padding: 0
            margin-top: 0
            h4
                padding: 1em 0
                text-align: center

       